:root {

}


img {
    display: inline;
    height: 180px;
    margin-top: 20px;
   
  }

a:hover {
    font-size: 120%;
    /*  was 1.2rem; */
}

.hoverbtn {
    /*can this be empty?*/
}

.hoverbtn:hover {
    box-shadow: 0px 5px 5px gray;
    transition: box-shadow 0.4s;
}


  /* is Bootstrap CSS going to deal with all viewport/breakpoint issues rather than media queries like
  @media only screen and (min-width: 992px)
  ?
  Challenge guidelines say "Your Bootstrap solution should minimize use of media queries"
  */